{% extends 'base.html' %}

{% block content %}
<form method="GET" action="" enctype="multipart/form-data">
    {{ forms.as_p }}
    <button type="submit">Поиск</button>
</form>

{% for product in products %}

<div class="card" style="width: 18rem;">
    {% if product.image %}
    <img src="{{product.image.url}}" class="card-img-top" alt="...">
    {% else %}
    <img src="/media/empty_image.jpg" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">{{ product.price }}</p>
        <a href="{{product.id}}" class="btn btn-primary">Посмотреть</a>

    </div>
</div>

{% endfor %}
{% endblock %}